@font-face {
  font-family: "Recoleta";
  font-style: normal;
  src: url("../../../assets/fonts/Recoleta-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 100;
  src: url("../../../assets/fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("../../../assets/fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../../../assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../../../assets/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../../../assets/fonts/Roboto-Bold.ttf");
}
html {
  scroll-behavior: smooth;
}

body {
  max-width: 1600px;
  margin: 0 auto;
}

._content {
  max-width: 1160px;
  margin: 0 auto;
}

.header {
  background: #000000;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.navigation {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.2em;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 58px;
}

.design-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  text-align: center;
}

.logo_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 118.840625%;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  max-width: 73px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
}

.watch-wrap {
  background: url("../../../assets/img/giant_panda.jpg") no-repeat center;
  position: relative;
}

.watch_text {
  max-width: 43.1034482759%;
  padding-bottom: 100px;
  position: relative;
  left: 50%;
}

.motto {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 665.625%;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 85.92px;
  padding-bottom: 60px;
  position: relative;
  z-index: 1;
}

.motto:before {
  content: "";
  position: absolute;
  width: 465.16px;
  height: 465.16px;
  border-radius: 100%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  position: absolute;
  left: -100px;
  top: 10px;
  z-index: -1;
}

.orange-text {
  color: #FFEE2E;
}

.button {
  width: 242.44px;
  height: 43.5px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0;
}

._round {
  border-radius: 25px;
}

._rect {
  border-radius: 5px;
}

.backstage {
  background: url("../../../assets/img/flower_foto1.png") no-repeat;
  background-position-x: 109%;
  background-position-y: 0%;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.backstage-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 87px;
  padding-top: 140px;
  padding-bottom: 180px;
}

.backstage__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #333B41;
  padding-bottom: 20px;
}

.backstage__text-block > p:not(.backstage__subtitle) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
}

.backstage__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  padding-top: 54px;
  padding-bottom: 34px;
}

.item__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
  padding-top: 0.5em;
  padding-left: 1em;
}

._veggy {
  background: url("../../../assets/icons/veggy.svg") no-repeat;
  background-position-x: 96%;
  background-position-y: 96%;
}

._meat {
  background: url("../../../assets/icons/meat.svg") no-repeat;
  background-position-x: 96%;
  background-position-y: 96%;
}

.item__place {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
  padding-bottom: 1em;
  padding-left: 16px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 26px;
}

.pets__item {
  border: 1px solid #F9804B;
  border-radius: 5px;
}

.pets__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 140px;
  padding-bottom: 65px;
}

.arrow-left, .arrow-right {
  border: none;
  height: 50px;
  width: 50px;
  background: url("../../../assets/icons/slider-arrow.svg") no-repeat center;
  background-color: #F9804B;
  border-radius: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.arrow-left:hover, .arrow-right:hover {
  background-color: #4B9200;
}

.arrow-left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.choose {
  padding-bottom: 5rem;
  padding-left: 43%;
}

.pets {
  background: url("../../../assets/img/palm_foto.jpg") no-repeat bottom left, url("../../../assets/img/flower_2.jpg") no-repeat bottom right;
}

.pick {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding-top: 56px;
  padding-bottom: 81px;
  margin-bottom: 113px;
}

.how-it-works {
  background: rgba(253, 253, 255, 0.52);
  -webkit-backdrop-filter: blur(1.62625px);
          backdrop-filter: blur(1.62625px);
  border-radius: 16.2625px;
  padding-top: 33px;
  padding-bottom: 47px;
}

.pick__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
  padding-bottom: 0.5em;
}

._subtitle {
  font-size: 19.5px;
  color: #333B41;
  padding-bottom: 2rem;
  text-align: left;
  padding-left: 80px;
}

.pick__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
  padding: 0 210px 0.5rem 80px;
}

.pick__text a {
  text-decoration: underline;
  -webkit-text-decoration-color: #FE9013;
          text-decoration-color: #FE9013;
}

.pick__text a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #4B9200;
          text-decoration-color: #4B9200;
  color: #4B9200;
}

._bold {
  font-weight: 500;
  padding-right: 0;
}

.hiw__title, .testimonials__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333B41;
  text-align: center;
}

.hiw__title {
  padding: 48px 0 32px 0;
}

.hiw__process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0 161px 48.8px 161px;
}

.hiw__item {
  max-width: 136px;
}

.hiw__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  color: #333B41;
}

.hiw__arrow {
  background: url("../../../assets/icons/arrow.svg") no-repeat center;
  background-color: black;
}

.hiw__icon {
  border-radius: 4.06563px;
  border: 0.81px solid orange;
  width: 136px;
  height: 136px;
  margin-bottom: 24px;
}

._pay {
  background: url("../../../assets/icons/pay.svg") no-repeat center, #FFFFFF;
  background-size: 87px 48px;
}

._zoo {
  background: url("../../../assets/icons/zoo.svg") no-repeat center, #FFFFFF;
  background-size: 69px 77px;
}

._anim {
  background: url("../../../assets/icons/monkey.svg") no-repeat center, #FFFFFF;
  background-size: 101px 58px;
}

.feed__btn {
  padding-left: 40%;
}

.testimonials__title {
  padding-bottom: 38px;
}

.testimonials__item__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 120%;
  color: #000000;
}

.testimonials__item__subtitle, .testimonials__item__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 12.1969px;
  line-height: 120%;
  color: #BDBDBD;
}

.testimonials__item__text {
  color: #ABABAB;
  padding-top: 7px;
}

.testimonials-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}

.testimonials__item {
  background: #F1F3F2;
  border-radius: 16.2625px;
  border: 1.63px solid;
  border-color: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  max-height: 317px;
  padding: 12px 12px 15px 13px;
  overflow: hidden;
  width: 272px;
}