@font-face {
  font-family: "Recoleta";
  font-style: normal;
  src: url("../../../assets/fonts/Recoleta-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 100;
  src: url("../../../assets/fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("../../../assets/fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../../../assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../../../assets/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../../../assets/fonts/Roboto-Bold.ttf");
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  margin: 0 auto;
}

._content {
  max-width: 1160px;
  margin: 0 auto;
}
@media (max-width: 1399px) {
  ._content {
    max-width: 950px;
  }
}
@media (max-width: 1000px) {
  ._content {
    max-width: 940px;
  }
}

.header {
  background: #000000;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
@media (max-width: 1399px) {
  .header {
    position: relative;
    z-index: 2;
  }
}

.navigation {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
  color: #FFFFFF;
}

.active {
  color: #F9804B;
}

.nav__item:hover:not(.active) {
  color: #F9804B;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 63px;
  padding-top: 0.875rem;
  padding-bottom: 0.81rem;
}
@media (max-width: 1399px) {
  .header-wrap {
    gap: 40px;
  }
}
@media (max-width: 1000px) {
  .header-wrap {
    gap: 63px;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 58px;
  padding-right: 374.9px;
}
@media (max-width: 1399px) {
  .nav-list {
    gap: 48px;
    padding-right: 19vw;
  }
}
@media (max-width: 1000px) {
  .nav-list {
    padding-right: 19.5vw;
  }
}

.design-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  text-align: center;
}

.design-text a:hover {
  color: #F9804B;
}

.logo {
  position: relative;
  font-size: 10px;
  max-width: 80px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
}

.logo_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 1.19rem;
  line-height: 1.43rem;
  text-align: center;
  color: #FFFFFF;
  padding: 3.55px 4.75px 2px 4.7px;
}

.logo_title a:active, .logo_title-footer a:active {
  color: white;
}

.bamboo {
  position: absolute;
  bottom: 0.8em;
  left: 0.8em;
}

.watch-wrap {
  margin: 0 auto;
  background: url("../../../assets/img/giant_panda.jpg") no-repeat;
  background-position: 0px -80px;
  position: relative;
  background-size: cover;
  padding-bottom: 100px;
}
@media (max-width: 1399px) {
  .watch-wrap {
    padding-bottom: 80px;
  }
}
@media (max-width: 1000px) {
  .watch-wrap {
    padding-bottom: 45px;
    background-position: center -80px;
    background-size: 120% auto;
  }
}

.watch_text {
  max-width: 43.1034482759%;
  position: relative;
  left: 57%;
}
@media (max-width: 1000px) {
  .watch_text {
    left: 51.3%;
  }
}

.motto {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 665.625%;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 85.92px;
  padding-bottom: 60px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1399px) {
  .motto {
    font-size: 85px;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
  }
}
@media (max-width: 1000px) {
  .motto {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

.motto:before {
  content: "";
  position: absolute;
  width: 465.16px;
  height: 465.16px;
  border-radius: 100%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  position: absolute;
  left: -74px;
  top: 12px;
  z-index: -1;
}
@media (max-width: 1399px) {
  .motto:before {
    width: 406px;
    height: 406px;
    left: -34px;
    top: -10px;
    z-index: -1;
  }
}
@media (max-width: 1000px) {
  .motto:before {
    width: 36.7vw;
    height: 36.7vw;
    left: -57px;
    top: -10px;
  }
}

.orange-text {
  color: #FFEE2E;
}

.button {
  width: 298.12px;
  height: 3.4rem;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0;
  display: block;
}

.button:hover {
  background: #E47209;
  cursor: pointer;
}

.button:active {
  background: #4B9200;
}

.watch_text button {
  display: block;
  margin: 0 auto;
}

._round {
  border-radius: 25px;
}

._rect {
  border-radius: 5px;
}

.backstage {
  background: url("../../../assets/img/flower_foto1.png") no-repeat;
  background-position-x: 106.8%;
  background-position-y: 13%;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-size: 18vw 38vw;
}
@media (max-width: 1399px) {
  .backstage {
    background: none;
  }
}

.backstage-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 86px;
  padding-top: 140px;
  padding-bottom: 175px;
}
@media (max-width: 1599px) {
  .backstage-wrapper {
    gap: 5vw;
    padding-top: 5vw;
    padding-bottom: 10vw;
  }
}
@media (max-width: 1000px) {
  .backstage-wrapper {
    gap: 31px;
    padding-top: 10vw;
    padding-bottom: 14vw;
  }
}

.backstage-img {
  background: url("../../../assets/img/bamboo-cap.jpg") no-repeat center;
  background-size: cover;
  min-width: 609px;
}
@media (max-width: 1599px) {
  .backstage-img {
    min-width: 38vw;
  }
}
@media (max-width: 1000px) {
  .backstage-img {
    min-width: 48.5%;
    background-size: 135% 95%;
  }
}

@media (max-width: 1599px) {
  .backstage__text-block {
    padding-right: 3em;
  }
}
@media (max-width: 1000px) {
  .backstage__text-block {
    min-width: 2.202vw;
    padding-right: 0em;
  }
}

.backstage__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 120%;
  color: #333B41;
  padding-bottom: 21px;
}

.backstage__title_text, .backstage__subtitle_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 130%;
  color: #333B41;
}

.backstage__subtitle_text {
  line-height: 140%;
}

.backstage__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 120%;
  color: #333B41;
  padding-top: 3.4375rem;
  padding-bottom: 34px;
}

.item__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
  padding-top: 0.28em;
  padding-left: 1em;
  position: relative;
  z-index: 3;
}
@media (max-width: 1000px) {
  .item__name {
    padding-top: 0.5em;
  }
}

._veggy {
  background: url("../../../assets/icons/veggy.svg") no-repeat;
  background-position-x: 96%;
  background-position-y: 97%;
}
@media (max-width: 1000px) {
  ._veggy {
    background-position-y: 95%;
  }
}

._meat {
  background: url("../../../assets/icons/meat.svg") no-repeat;
  background-position-x: 97%;
  background-position-y: 97%;
}
@media (max-width: 1000px) {
  ._meat {
    background-position-y: 96%;
  }
}

.item__place {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: black;
  padding-bottom: 0.5rem;
  padding-left: 16px;
  position: relative;
  z-index: 3;
}
@media (max-width: 1000px) {
  .item__place {
    padding-bottom: 0.6em;
  }
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px 10px;
}
@media (max-width: 1399px) {
  .slider {
    gap: 100px 10px;
  }
}
@media (max-width: 1000px) {
  .slider {
    gap: 92px 0px;
  }
}

.pets__item {
  border: 1px solid #F9804B;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.pets__item__pic img {
  display: inline-block;
  width: 100%;
  height: auto;
  -webkit-transform: all ease-in 2s;
          transform: all ease-in 2s;
}

.item__text {
  background: black;
  opacity: 0;
  width: 100%;
  height: 422px;
  position: absolute;
  z-index: 2;
  top: 100%;
  color: black;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.pets__item:hover .item__text {
  opacity: 0.7;
  top: 0;
}

.pets__item:hover .item__name, .pets__item:hover .item__place {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  color: white;
}

.pets__item:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.pets__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 140px;
  padding-bottom: 80px;
  max-width: 1322.4px;
  margin: 0 auto;
}
@media (max-width: 1599px) {
  .pets__container {
    padding: 0px 4%;
  }
}
@media (max-width: 1399px) {
  .pets__container {
    max-width: 950px;
    position: relative;
  }
}
@media (max-width: 1000px) {
  .pets__container {
    width: 100%;
    padding: 0px;
  }
}

.arrow-left, .arrow-right {
  border: none;
  height: 62px;
  width: 62px;
  background: url("../../../assets/icons/slider-arrow.svg") no-repeat center;
  background-color: #F9804B;
  border-radius: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
@media (max-width: 1599px) {
  .arrow-left, .arrow-right {
    height: 50px;
    width: 50px;
  }
}
@media (max-width: 1399px) {
  .arrow-left, .arrow-right {
    position: absolute;
    top: 46%;
    left: 55%;
    height: 62px;
    width: 62px;
  }
}
@media (max-width: 1000px) {
  .arrow-left, .arrow-right {
    top: 46%;
    left: 59%;
  }
}

.arrow-left:hover, .arrow-right:hover {
  background-color: #4B9200;
}

.arrow-left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (max-width: 1399px) {
  .arrow-left {
    left: 40%;
  }
}
@media (max-width: 1000px) {
  .arrow-left {
    left: 34.5%;
  }
}

.choose {
  display: block;
  max-width: 296.96px;
  margin: 0 auto;
  padding-bottom: 6.2rem;
}
@media (max-width: 1599px) {
  .choose {
    padding-top: 5.2rem;
  }
}
@media (max-width: 1000px) {
  .choose {
    padding-bottom: 14vw;
    padding-top: 8vw;
  }
}

.pets {
  background: url("../../../assets/img/palm_foto.jpg") no-repeat bottom left, url("../../../assets/img/flower_2.jpg") no-repeat bottom right;
}
@media (max-width: 1599px) {
  .pets {
    background: url("../../../assets/img/palm_foto_small_desktop.jpg") no-repeat bottom left, url("../../../assets/img/flower_2_small_desktop.jpg") no-repeat bottom right;
  }
}

.pick {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding-top: 69px;
  padding-bottom: 100px;
}
@media (max-width: 1000px) {
  .pick {
    padding-top: 30px;
    padding-bottom: 49px;
  }
}

.how-it-works {
  background: rgba(253, 253, 255, 0.52);
  -webkit-backdrop-filter: blur(1.62625px);
          backdrop-filter: blur(1.62625px);
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 59px;
}
@media (max-width: 1000px) {
  .how-it-works {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}

.pick__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
  padding-bottom: 2rem;
}
@media (max-width: 1000px) {
  .pick__title {
    padding-bottom: 1.25rem;
  }
}

._subtitle {
  font-size: 24px;
  color: #333B41;
  padding-bottom: 2.5rem;
  text-align: left;
  padding-left: 100px;
}
@media (max-width: 1000px) {
  ._subtitle {
    padding-left: 0px;
    text-align: center;
    padding-bottom: 0.833em;
  }
}

.pick__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
  padding: 0 190px 0.8rem 100px;
}
@media (max-width: 1000px) {
  .pick__text {
    padding: 0em 4.87em 0.9em 3.06em;
  }
}

.pick__text a {
  text-decoration: underline;
  -webkit-text-decoration-color: #FE9013;
          text-decoration-color: #FE9013;
}

.pick__text a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #4B9200;
          text-decoration-color: #4B9200;
  color: #4B9200;
}

._bold {
  font-weight: 500;
  padding-right: 0;
}
@media (max-width: 1000px) {
  ._bold {
    padding-right: 4.87em;
  }
}

.hiw__title, .testimonials__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333B41;
  text-align: center;
}

.hiw__title {
  padding: 48px 0 35px 0;
}
@media (max-width: 1000px) {
  .hiw__title {
    padding: 24px 0 38px 0;
  }
}

.hiw__process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  max-width: 1020px;
  padding-bottom: 61px;
}
@media (max-width: 1000px) {
  .hiw__process {
    max-width: 764px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 70px;
  }
}

.hiw__item {
  max-width: 168px;
  position: relative;
}

.hiw__item:after {
  content: "";
  background: url("../../../assets/icons/arrow.png") no-repeat center;
  display: block;
  width: 69px;
  height: 39px;
  position: absolute;
  right: -60%;
  top: 25%;
}

.hiw__item:last-child:after {
  visibility: hidden;
}

.hiw__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}

.hiw__icon {
  border-radius: 4.06563px;
  border: 0.81px solid orange;
  width: 168px;
  height: 168px;
  margin-bottom: 30px;
}

._pay {
  background: url("../../../assets/icons/pay.svg") no-repeat center, #FFFFFF;
  background-size: 108px 60px;
}

._zoo {
  background: url("../../../assets/icons/zoo.png") no-repeat center, #FFFFFF;
  background-size: 85px 95px;
}

._anim {
  background: url("../../../assets/icons/monkey.svg") no-repeat center, #FFFFFF;
  background-size: 124px 71px;
}

.feed__btn {
  max-width: 296.96px;
  margin: 0 auto;
}

.testimonials__title {
  padding-top: 60px;
  padding-bottom: 47px;
}
@media (max-width: 1000px) {
  .testimonials__title {
    padding-top: 70px;
    padding-bottom: 30px;
  }
}

.testimonials__item__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
  position: relative;
  top: -10px;
  left: 10px;
}

.user-pic {
  display: inline-block;
  position: relative;
  top: 25px;
  left: 5px;
  width: 37px;
  height: 37px;
  margin-right: 10px;
}

.item_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.testimonials__container {
  padding-bottom: 34px;
}
@media (max-width: 1000px) {
  .testimonials__container {
    padding-bottom: 0px;
  }
}

.testimonials {
  padding-top: 80px;
  background: url("../../../assets/img/leav_foto.jpg") no-repeat;
  background-position-x: 100%;
  background-position-y: 125%;
}
@media (max-width: 1599px) {
  .testimonials {
    padding-top: 30px;
    background: url("../../../assets/img/leav_foto_small_desktop.jpg") no-repeat;
    background-position-x: 100%;
    background-position-y: 116.5%;
  }
}

.testimonials__item__subtitle, .testimonials__item__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
}

.testimonials__item__subtitle {
  padding-left: 30px;
  position: relative;
  left: 31px;
  top: -10px;
}

.testimonials__item__text {
  color: #ABABAB;
  padding: 0px 10px 0px 15px;
  overflow: hidden;
}

.testimonials-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 268.54px 30px 268.54px 30px 268.54px 30px 268.54px;
  grid-template-columns: repeat(4, 268.54px);
  gap: 0 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 14px;
  position: relative;
}
@media (max-width: 1399px) {
  .testimonials-wrapper {
    -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 40px;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 0;
    overflow-y: hidden;
  }
  .testimonials-wrapper > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .testimonials-wrapper > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .testimonials-wrapper > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
}
@media (max-width: 1000px) {
  .testimonials-wrapper {
    gap: 10px 30px;
    padding-bottom: 4px;
  }
}

@media (max-width: 1399px) {
  .item__background:last-child {
    visibility: hidden;
  }
}

.item__background {
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  position: relative;
  z-index: -1;
  height: 390px;
  padding: 0;
  border-radius: 20px;
  overflow: hidden;
}

.testimonials__item {
  background: #F1F3F2;
  border-radius: 18px;
  border: 2px solid transparent;
  margin: 2px;
  overflow: hidden;
  position: absolute;
  max-height: 382px;
  height: 100%;
}

.progress {
  width: 599px;
  margin: 0 auto;
  padding-top: 4px;
  padding-bottom: 27px;
}
@media (max-width: 1000px) {
  .progress {
    width: 390px;
    margin-left: 269px;
    padding-bottom: 47px;
  }
}

.range {
  -webkit-appearance: none;
  border: 1px solid rgba(254, 189, 171, 0.74);
  background-color: transparent;
  width: 99%;
  border-radius: 5px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.range::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: #F5F7F6;
  border: none;
  border-radius: 5px;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 6px;
  width: 20%;
  border-radius: 5px;
  background: #FE9013;
  border: 1px solid #FE9013;
  margin-top: 1px;
}
.range::-webkit-slider-thumb:active {
  border: 1px solid green;
}
.range::-webkit-slider-thumb:hover {
  background: green;
  cursor: pointer;
}
.range:focus {
  outline: none;
}
.range::-moz-range-track {
  width: 100%;
  height: 8px;
  background: #F5F7F6;
  border: none;
  border-radius: 5px;
}
.range::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 6px;
  width: 20%;
  border-radius: 5px;
  background: #FE9013;
  border: 1px solid #FE9013;
}
.range::-moz-range-thumb:active {
  border: 1px solid green;
}
.range::-moz-range-thumb:hover {
  background: green;
  cursor: pointer;
}

.feedback__btn {
  padding-bottom: 146px;
}
@media (max-width: 1000px) {
  .feedback__btn {
    padding-bottom: 140px;
  }
}

.footer {
  background: black;
}

.footer__wrapper {
  padding-top: 40px;
}
@media (max-width: 1000px) {
  .footer__wrapper {
    padding-left: 25px;
  }
}

.sub__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
  padding-bottom: 15px;
  padding-left: 5px;
}

.subscribe_text_item {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  max-width: 32%;
}
@media (max-width: 1399px) {
  .subscribe_text_item {
    min-width: 40%;
  }
}
@media (max-width: 1000px) {
  .subscribe_text_item {
    min-width: 43%;
  }
}

.media {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
  color: #FFFFFF;
  position: relative;
  padding-bottom: 15px;
  padding-left: 40px;
}
@media (max-width: 1000px) {
  .media {
    padding-bottom: 14px;
  }
}

.social_media > li > a {
  display: inline-block;
  text-decoration: none;
}

.social_media > li > a:hover, a:active {
  color: #4B9200;
}

.media img {
  display: inline-block;
  width: 26px;
  height: 26px;
  position: absolute;
  left: 0;
}
@media (max-width: 1000px) {
  .media img {
    top: -5px;
  }
}

.media img:hover {
  -webkit-filter: invert(59%) sepia(72%) saturate(4911%) hue-rotate(58deg) brightness(89%) contrast(104%);
          filter: invert(59%) sepia(72%) saturate(4911%) hue-rotate(58deg) brightness(89%) contrast(104%);
}

._footer {
  font-size: 16px;
  line-height: 140%;
}

.email {
  background: black;
  border: 1px solid rgb(249, 128, 75);
  border-radius: 2px;
  padding: 10px 30px 10px 12px;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  color: #BDBDBD;
  font-family: "Roboto";
  font-style: normal;
}
@media (max-width: 1000px) {
  .email {
    padding: 10px 33px 10px 12px;
  }
}

.email:invalid {
  border-color: #D31414;
  color: #D31414;
}

.email:valid {
  border-color: rgb(249, 128, 75);
}

.email::-webkit-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
}

.email::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
}

.email:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
}

.email::-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
}

.email::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
}

.submit-btn {
  background: #F1F3F2;
  border: 1px solid #333B41;
  border-radius: 5px;
  display: inline-block;
}

.submit-btn:active {
  border: 1px solid #4B9200;
}

.submit-btn:hover {
  cursor: pointer;
}

.submit-btn[value] {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: black;
  padding: 8px 38px;
}

.submit-btn[value]:active {
  color: #4B9200;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 37px;
}

.donate-btn {
  padding-bottom: 42px;
}
@media (max-width: 1000px) {
  .donate-btn {
    padding-bottom: 47px;
  }
}

.credentials {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  padding-bottom: 12px;
}
@media (max-width: 1000px) {
  .credentials {
    padding-bottom: 8px;
  }
}

.credentials p {
  padding-bottom: 5px;
}
@media (max-width: 1000px) {
  .credentials p {
    padding-bottom: 7px;
  }
}

.footer__downs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 85px;
}
@media (max-width: 1000px) {
  .footer__downs {
    padding-bottom: 30px;
  }
}

._footer-menu {
  padding: 0;
  padding-bottom: 15px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding-left: 120px;
  line-height: 140%;
}
@media (max-width: 1000px) {
  ._footer-menu {
    padding-left: 90px;
  }
}

.logo-footer {
  position: relative;
  font-size: 10px;
  max-width: 82px;
  max-height: 52px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  margin-right: 30px;
}

.logo_title-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 1.19rem;
  line-height: 1.43rem;
  text-align: center;
  color: #FFFFFF;
  padding: 0.55px 4.75px 6.55px 4.75px;
  position: relative;
}

.bamboo-footer {
  position: absolute;
  bottom: 0.7em;
  left: 0.5rem;
}

/*._twitter:before
 * content: ''
 * background: url('../../../assets/icons/icon_twitter.svg') no-repeat center
 * display: inline-block
 * width: 26px
 * height: 26px
 * margin-right: 15px
 * position: relative
 * top: 5px */
/*._fb:before
 * content: ''
 * background: url('../../../assets/icons/icon_fb.svg') no-repeat center
 * display: inline-block
 * width: 26px
 * height: 26px
 * margin-right: 15px
 * position: relative
 * top: 5px */
/*._insta:before
 * content: ''
 * background: url('../../../assets/icons/icon_insta.svg') no-repeat center
 * display: inline-block
 * width: 26px
 * height: 26px
 * margin-right: 15px
 * position: relative
 * top: 5px */
/*._youtube:before
 * content: ''
 * background: url('../../../assets/icons/icon_youtube.svg') no-repeat center
 * display: inline-block
 * width: 26px
 * height: 26px
 * margin-right: 15px
 * position: relative
 * top: 5px */
.donation__bg {
  height: 386px;
  margin: 0 auto;
  background: url("../../../assets/img/panda_bg.jpg") no-repeat;
  background-position: center center;
  position: relative;
  background-size: cover;
}

.donate__intro-title, .donate__introtext {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #FFFFFF;
  padding-top: 40px;
}

.donate__introtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  padding-top: 10px;
  padding-right: 10px;
}

._big {
  color: #FE9013;
  padding-top: 45px;
  margin-bottom: 60px;
}

.donate {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding-bottom: 180px;
}

.diet-amount, .diet-progress, .payment-wrapper {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}

.diet-amount {
  padding-top: 19%;
}

.pick-todonate {
  background: rgba(253, 253, 255, 0.52);
  -webkit-backdrop-filter: blur(1.62625px);
          backdrop-filter: blur(1.62625px);
  border-radius: 20px;
  padding-bottom: 60px;
  padding-top: 40px;
}

.pick-container {
  max-width: 976px;
  margin: 0 auto;
}

.number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 11px;
}

.diet-wrapper {
  padding-top: 20px;
  max-width: 545px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 41px;
}

.diet-wrapper > img {
  display: inline-block;
  max-height: 240px;
}

.x-icon {
  background: url("../../../assets/icons/x_icon.svg") no-repeat;
  width: 24px;
  background-position-x: 10px;
  background-position-y: 127px;
  margin-right: 66px;
}

.pick-todonate__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: left;
  color: #FE9013;
  padding-bottom: 0.5em;
  padding-left: 340px;
}

.pick-todonate__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
  padding-bottom: 0.5em;
  font-size: 24px;
  color: #333B41;
  padding-bottom: 2.5rem;
  text-align: left;
}

.payment-wrapper {
  width: 298px;
}

.cash {
  display: block;
  width: 87%;
  background-color: transparent;
  border: 0.7px solid #929699;
  border-radius: 2px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}

.cash:hover {
  background-color: transparent;
  border: 0.7px solid #FE9013;
  border-radius: 2px;
  display: block;
  border-color: #FE9013;
}

.cash::-webkit-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #929699;
}

.cash::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #929699;
}

.cash:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #929699;
}

.cash::-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #929699;
}

.cash::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #929699;
}

.cash-wrapper {
  position: relative;
}

.cash-wrapper:after {
  content: "";
  background: url("../../../assets/icons/dollar_light.svg") no-repeat center;
  position: absolute;
  width: 10px;
  height: 20px;
  right: 26px;
  top: 16px;
}

.period {
  display: inline-block;
  margin-right: 5px;
}

.pay-period {
  padding-left: 42px;
  padding-bottom: 28px;
}

.pay-period > label {
  margin-right: 45px;
}

.pay-period > label:last-child {
  margin-right: 0px;
}

.share {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
  padding-left: 37.2%;
  padding-top: 30px;
}

.period {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font: inherit;
  color: #FE9013;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #FE9013;
  border-radius: 50%;
  -webkit-transform: translateY(-0.004rem);
          transform: translateY(-0.004rem);
}

.period:checked {
  background-color: #FE9013;
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.progress__bar {
  padding-top: 18px;
  padding-bottom: 25px;
}

.progress_wrap {
  background: #404950;
  height: 27px;
  width: 976px;
  position: relative;
  border-radius: 2px;
}

.progress-line {
  background: #72828E;
  height: 2px;
  width: 94%;
  position: absolute;
  top: 12px;
  left: 30px;
}

.chose-amount-container {
  width: 94%;
  height: 40px;
  position: absolute;
  z-index: 2;
  top: -6px;
  left: 11px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 90px 40px 90px 40px 90px 40px 90px 40px 90px 40px 90px 40px 90px 40px;
  grid-template-columns: repeat(8, 40px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-column-gap: 90px;
     -moz-column-gap: 90px;
          column-gap: 90px;
}

.chose-amount-item {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #FFEE2E;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
}
.chose-amount-item:hover {
  cursor: pointer;
  background-color: #4B9200;
}
.chose-amount-item:checked {
  background: url("../../../assets/icons/roller_icon.png") no-repeat center, url("../../../assets/icons/ellipse.png") no-repeat center;
  width: 40px;
  height: 40px;
}

.value_list {
  list-style: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  text-transform: uppercase;
  color: #333B41;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
  grid-template-columns: repeat(8, 1fr);
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 20px 25px 0px;
}

.value_list > li:before {
  content: "";
  background: url("../../../assets/icons/dollar.svg") no-repeat center;
  position: absolute;
  width: 10px;
  height: 20px;
  top: 7px;
  left: 0px;
}

.value_list > li {
  position: relative;
  padding-left: 15px;
}

.value_list > li:first-child, li:nth-child(2) {
  -ms-grid-column-align: start;
      justify-self: start;
}

.value_list > li:nth-child(6), li:nth-child(7), li:nth-child(8) {
  -ms-grid-column-align: end;
      justify-self: end;
}