@font-face {
  font-family: Georgia;
  src: url("../../../assets/fonts/georgia.ttf");
}
@font-face {
  font-family: GeorgiaDecor;
  src: url("../../../assets/fonts/georgia_bolditalic.ttf");
}
html {
  scroll-behavior: smooth;
}

body {
  font-size: 15px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

._content {
  max-width: 1200px;
  margin: 0 auto;
}

.intro {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  height: 908px;
}

.header {
  height: 60px;
  padding-top: 60px;
  margin-bottom: 60px;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 35px;
}

.logo {
  max-width: 20%;
}

.logo-title {
  font-family: Georgia;
  font-size: 213.3333333333%;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: rgb(241, 205, 179);
  margin-bottom: 10px;
}

.logo-subtitle {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 86.6666666667%;
  color: #FFFFFF;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-indent: 4px;
}

.nav__item {
  font-family: "Arial";
  font-weight: 400;
  line-height: 160%;
  color: #CDCDCD;
}

.nav__item a:hover, .nav__item a:active {
  color: #FAFAFA;
  -webkit-text-decoration: solid underline 3px;
          text-decoration: solid underline 3px;
  -webkit-text-decoration-color: #F1CDB3;
          text-decoration-color: #F1CDB3;
}

.not-only {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.not-only-text {
  max-width: 38.3333333333%;
  color: #FFFFFF;
  padding-top: 13.5833333333%;
}

h1 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 293.3333333333%;
  line-height: 130%;
  text-align: left;
  padding-right: 12.5%;
}

.not-only-text > *:not(:last-child) {
  margin-bottom: 42px;
}

.not-only-text p {
  color: #CDCDCD;
}

.not-only-img {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  width: 207px;
  height: 52px;
  border-radius: 100px;
  border: none;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 113.3333333333%;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

._pink {
  background: #F1CDB3;
}

._empty {
  border: 2px solid #F1CDB3;
  background: #FFFFFF;
}

.footer {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.about {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 120px;
     -moz-column-gap: 120px;
          column-gap: 120px;
}

h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 233.3333333333%;
  line-height: 130%;
  letter-spacing: 0.1rem;
  color: #545454;
}

.about__text {
  max-width: 35.8333333333%;
  text-align: left;
  padding-top: 15px;
}

.about__title {
  padding-right: 30.8333333333%;
}

.about__text p {
  color: #4C4C4C;
  margin: 25px 0;
}

.friends {
  height: 877px;
  margin-top: 80px;
}

.help {
  height: 611px;
  margin-top: 80px;
}

.donation {
  height: 462px;
  margin-top: 80px;
}