@font-face {
  font-family: Georgia;
  src: url("shelter/assets/fonts/georgia.ttf");
}
html {
  font-size: 10px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.intro {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  height: 908px;
}

.head {
  height: 60px;
  padding-top: 60px;
}

.not-only {
  height: 728px;
  padding-top: 60px;
  background: url("../../../assets/img/start-screen-puppy.png") no-repeat right bottom;
}

.footer {
  background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  height: 350px;
}

.about {
  height: 588px;
}

.friends {
  height: 877px;
}

.help {
  height: 611px;
}

.donation {
  height: 462px;
}