@font-face 
  font-family: 'Recoleta'
  font-style: normal
  src: url("../../../assets/fonts/Recoleta-Regular.ttf")

@font-face 
  font-family: 'Roboto'
  font-weight: 100
  src: url("../../../assets/fonts/Roboto-Thin.ttf")

@font-face 
  font-family: 'Roboto'
  font-weight: 300
  src: url("../../../assets/fonts/Roboto-Light.ttf")

@font-face 
  font-family: 'Roboto'
  font-weight: 400
  src: url("../../../assets/fonts/Roboto-Regular.ttf")

@font-face 
  font-family: 'Roboto'
  font-weight: 500
  src: url("../../../assets/fonts/Roboto-Medium.ttf")

@font-face 
  font-family: 'Roboto'
  font-weight: 700
  src: url("../../../assets/fonts/Roboto-Bold.ttf")


html
  scroll-behavior: smooth
  font-size: 16px

$contentWidth: 1160px
$fontdefault: 16px

body
  
  margin: 0 auto

._content
  max-width: 1160px
  margin: 0 auto

.header
  background: #000000
  backdrop-filter: blur(2px)

.navigation
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 400 
  font-size: 1rem
  line-height: 140% 
  color: #FFFFFF 

.active
  color: #F9804B 

.active:hover
  color:#FFFFFF

.header-wrap
  display: flex
  flex-direction: row
  align-items: center 
  justify-content: flex-start
  gap: 63px
  padding-top: 0.875rem
  padding-bottom: 0.81rem

.nav-list
  display: flex
  flex-direction: row
  align-content: center 
  justify-content: space-between
  gap: 58px
  padding-right: 0.3775*$contentWidth - 63px


.design-text
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 400 
  font-size: $fontdefault 
  line-height: 140% 
  color: #FFFFFF 
  text-align: center
 
.design-text, .nav__item:not(.active)
  a:hover 
    color: #F9804B

.logo
  position: relative
  font-size: 10px
  max-width: 80px
  border: 1px solid #FFFFFF
  border-radius: 2px
  
.logo_title
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 300 
  font-size: 1.19rem //19.0145px 
  line-height: 1.43rem //120% or 23px
  text-align: center 
  color: #FFFFFF 
  padding: 3.55px 4.75px 2px 4.70px

.logo_title, .logo_title-footer
  a:active
    color: white
.bamboo
  position: absolute
  bottom: 0.8em
  left: 0.8em

.watch-wrap
  //max-width: 1600px
  margin: 0 auto
  background: url('../../../assets/img/giant_panda.jpg') no-repeat
  background-position: 0px -80px
  position: relative
  background-size: cover

  
.watch_text
  max-width: 500px /$contentWidth *100% 
  padding-bottom: 100px
  position: relative
  left: 57%

.motto
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 700 
  font-size: 106.5px /$fontdefault * 100%
  line-height: 75% 
  text-align: center 
  text-transform: uppercase 
  color: #FFFFFF 
  padding-top: $fontdefault * 5.37 //86px
  padding-bottom: $fontdefault * 3.75//60px
  position: relative
  z-index: 1

.motto:before
  content: ''
  position: absolute 
  width: $contentWidth *0.401
  height:  $contentWidth *0.401
  border-radius: 100%
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%) 
  position: absolute
  left: -74px
  top: 12px
  z-index: -1

.orange-text
   color:#FFEE2E

.button
  width: $contentWidth * 0.257
  height: 3.4rem
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%) 
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 500 
  font-size: $fontdefault
  line-height: 140% 
  text-align: center 
  text-transform: uppercase 
  color: #FFFFFF
  padding: 0 
  display: block


.button:hover
   background: #E47209

.button:active
   background: #4B9200


.watch_text
  button
    display: block
    margin: 0 auto

._round
  border-radius: 25px

._rect
  border-radius: 5px

.backstage
  background: url('../../../assets/img/flower_foto1.png') no-repeat
  background-position-x: 107.5%
  background-position-y: 10%
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))

.backstage-wrapper
  display: flex
  flex-direction: row
  justify-content: space-between
  align-content: center
  gap: 86px
  padding-top: 140px
  padding-bottom: 175px

.backstage__title
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 400 
  font-size: 3rem
  line-height: 120% 
  color: #333B41 
  padding-bottom: 21px

.backstage__title_text, .backstage__subtitle_text
    font-family: 'Roboto' 
    font-style: normal 
    font-weight: 400 
    font-size: 1rem 
    line-height: 130% 
    color: #333B41 

.backstage__subtitle_text
    line-height: 140% 

.backstage__subtitle
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 400 
  font-size: 1.5rem//24px 
  line-height: 120% 
  color: #333B41 
  padding-top: 3.4375rem
  padding-bottom: 34px


.item__name
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 500 
  font-size: 1rem 
  line-height: 140% 
  text-transform: uppercase 
  color: #000000 
  padding-top: 0.28em
  padding-left: 1em

._veggy
  background: url('../../../assets/icons/veggy.svg') no-repeat
  background-position-x: 96% 
  background-position-y: 97% 

._meat 
  background: url('../../../assets/icons/meat.svg') no-repeat
  background-position-x: 97% 
  background-position-y: 97% 

.item__place
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 300 
  font-size: 15px 
  line-height: 120% 
  color: #000000 
  padding-bottom: 0.5rem
  padding-left: $fontdefault

.slider
  display: flex 
  flex-direction: row 
  justify-content: space-between
  flex-wrap: wrap
  gap: 25px 26px

.pets__item 
  border: 1px solid #F9804B
  border-radius: 5px 
  overflow: hidden

.pets__item__pic
  img
    display: inline-block
    width: 100%
    height: 100%
    object-fit: cover
    transform: all ease-in 2s

.pets__item__pic
  img:hover
    transform: scale(1.1)

.pets__container
   display: flex 
   flex-direction: row 
   justify-content: space-between
   padding: 0px 140px
   padding-bottom: 80px
   max-width: $contentWidth*1.14
   margin: 0 auto

.arrow-left, .arrow-right 
  border: none
  height: 62px 
  width: 62px 
  background: url("../../../assets/icons/slider-arrow.svg") no-repeat center 
  background-color: #F9804B
  border-radius: 100%
  align-self: center

.arrow-left:hover, .arrow-right:hover 
  background-color: #4B9200

.arrow-left 
  transform: rotate(180deg) 

.choose
  display: block
  max-width: $contentWidth*0.256
  margin: 0 auto
  padding-bottom: 6.2rem//81px

.pets
  background: url("../../../assets/img/palm_foto.jpg") no-repeat bottom left, url("../../../assets/img/flower_2.jpg") no-repeat bottom right 
  
  

SASS SYNTAX
=transform($property)
  -webkit-transform: $property
  -ms-transform: $property
  transform: $property

.pick
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%)  
  opacity: 0.9  
  padding-top: 69px
  padding-bottom: 100px
 

.how-it-works
  background: rgba(253, 253, 255, 0.52)  
  backdrop-filter: blur(1.62625px)  
  border-radius: 20px  
  padding-top: 40px
  padding-bottom: 59px
 
.pick__title
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 400 
  font-size: 48px 
  line-height: 120% 
  text-align: center 
  color: #FE9013 
  padding-bottom: 2rem

._subtitle
  font-size: 24px 
  color: #333B41 
  padding-bottom: 2.5rem
  text-align: left
  padding-left: 100px

.pick__text
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 400 
  font-size: 16px 
  line-height: 130% 
  color: #333B41 
  padding: 0 190px 0.8rem 100px
  
.pick__text
  a
    text-decoration: underline
    text-decoration-color: #FE9013

.pick__text
  a:hover 
    text-decoration: underline
    text-decoration-color: #4B9200
    color: #4B9200

._bold
  font-weight: 500 
  padding-right: 0

.hiw__title,.testimonials__title
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 400 
  font-size: 36px 
  line-height: 130% 
  color: #333B41 
  text-align: center 

.hiw__title
  padding: 48px 0 35px 0

.hiw__process
  display: flex
  flex-direction: row
  justify-content: space-evenly
  align-content: center
  margin: 0 auto
  max-width: 1020px
  padding-bottom: 61px 

.hiw__item
  max-width: 168px

.hiw__subtitle
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 400 
  font-size: 16px 
  line-height: 140% 
  color: #333B41 

.hiw__arrow
  background: url("../../../assets/icons/arrow.svg") no-repeat center
  background-color: black

.hiw__icon
  border-radius: 4.06563px
  border: 0.81px solid orange
  width: 168px
  height: 168px
  margin-bottom: 30px

._pay
  background: url("../../../assets/icons/pay.svg") no-repeat center, #FFFFFF
  background-size: 108px 60px

._zoo
  background: url("../../../assets/icons/zoo.svg") no-repeat center, #FFFFFF
  background-size: 85px 95px

._anim
  background: url("../../../assets/icons/monkey.svg") no-repeat center, #FFFFFF
  background-size: 124px 71px

.feed__btn
  max-width: $contentWidth*0.256
  margin: 0 auto
  

.testimonials__title
  padding-top: 60px
  padding-bottom: 47px
  
.testimonials__item__title
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 500 
  font-size: 16px 
  line-height: 120% 
  color: #000000 
  position: relative
  top: -10px
  left: 10px
  

.user-pic
  display: inline-block
  position: relative
  top: 25px
  left: 5px
  width: 37px
  height: 37px
  margin-right: 10px

.item_head
  display: flex
  flex-direction: row

.testimonials__container
  padding-bottom: 34px

.testimonials
  padding-top: 80px
  background: url('../../../assets/img/leav_foto.jpg') no-repeat
  background-position-x: 100%
  background-position-y: 125%

.testimonials__item__subtitle,.testimonials__item__text
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 300 
  font-size: 15px 
  line-height: 120% 
  color: #BDBDBD 

.testimonials__item__subtitle
  padding-left: 30px
  position: relative
  left: 31px
  top: -10px

.testimonials__item__text
  color: #ABABAB
  padding: 0px 10px 0px 15px

.testimonials-wrapper
  display: flex
  flex-direction: row
  justify-content: space-between
  gap: 35px
  padding-bottom: 14px
  
$pink: rgba(254, 189, 171, 0.74)
$purple:rgba(243, 169, 248, 0.66) 
$lightpink:#E0D8F0 
$white: #EAF7FE
$direction: 315.75deg

$list: $pink 30.06%, $purple 50.74%, $lightpink 80.49%, $white 127.9%, $white 149.54%


@mixin gradient($direction, $list) 
  border-image: -webkit-linear-gradient($direction, $list) 
  border-image: -moz-linear-gradient($direction, $list) 
  border-image: -o-linear-gradient($direction, $list) 
  border-image: linear-gradient($direction, $list)
  border-width: 1.63px
  border-style: solid  

.testimonials__item
  @include gradient($direction, $list) 
  background: #F1F3F2 
  border-radius: 16.2625px 
  border: 1.63px solid $pink
  max-height: 390px
  overflow: hidden
  width: 268px
  position: relative
  
  

@mixin progress-bar-color($valueColor: #FE9013, $backgroundColor: #F5F7F6) 
  background-color: $backgroundColor 
  color: $valueColor 
  width: 100%
  height: 8px
  border-radius: 5px
  &::-moz-progress-bar 
    background-color: $valueColor 
    height: 8px
    border-radius: 5px

  &::-webkit-progress-bar 
    background-color: $backgroundColor 
    border-radius: 5px
    border: 0.4px solid
    position: relative
    
  &::-webkit-progress-value 
    background-color: $valueColor 
    border-radius: 5px
    height: 6px
    position: absolute
    
    
  
.progress
  width: 599px
  margin: 0 auto
  padding-bottom: 27px

progress
  @include progress-bar-color($valueColor: #FE9013, $backgroundColor: #F5F7F6)

.feedback__btn
  padding-bottom: 146px

.footer
  background: black

.footer__wrapper
  padding-top: 40px

.sub__text 
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 400 
  font-size: 24px 
  line-height: 120% 
  color: #FFFFFF 
  padding-bottom: 15px
  padding-left: 5px 
  

.subscribe_text_item
  flex-grow: 2
  max-width: 32%
 
.media
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 400 
  font-size: 1rem 
  line-height: 140% 
  color: #FFFFFF 
  position: relative
  padding-bottom: 2px

.social_media > li > a 
  display: inline-block
  text-decoration: none


.social_media > li > a:hover, a:active 
  color: #4B9200


._footer
  font-size: 16px
  line-height: 140%

 
.email
   background: black 
   border: 0.7px solid rgba(249, 128, 75, 1) 
   border-radius: 2px 
   padding: 10px 30px 10px 12px
   display: inline-block
   margin-right: 5px
   margin-left: 5px 
   color: #BDBDBD 
   font-family: 'Roboto' 
   font-style: normal 

.email:invalid
  border-color: rgba(249, 128, 75, 1) 

.email:valid 
  border-color: green

.email::placeholder
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 400 
  font-size: 16px 
  line-height: 140% 
  color: #BDBDBD 

.submit-btn
  background: #F1F3F2 
  border: 1px solid #4B9200 
  border-radius: 5px 
  display: inline-block

.submit-btn[value]
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 400 
  font-size: 16px 
  line-height: 140% 
  color: #4B9200 
  padding: 8px 38px

.subscribe
  display: flex
  flex-direction: row
  justify-content: space-between
  padding-bottom: 37px

.donate-btn
  padding-bottom: 42px
    

.credentials
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 100 
  font-size: 16px 
  line-height: 130% 
  color: #FFFFFF 
  
.credentials
  p
    padding-block: 4px
    

.footer__downs
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: flex-end 
  padding-bottom: 85px
 

._footer-menu
  padding: 0
  flex-grow: 2
  padding-left: 120px
  line-height: 140%
  

.logo-footer
  position: relative
  font-size: 10px
  max-width: 82px
  max-height: 52px
  border: 1px solid #FFFFFF
  border-radius: 2px
  margin-right: 30px
  
.logo_title-footer
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 300 
  font-size: 1.19rem //19.0145px 
  line-height: 1.43rem //120% or 23px
  text-align: center 
  color: #FFFFFF 
  padding: 0.55px 4.75px 6.55px 4.75px
  position: relative

   
 
.bamboo-footer
  position: absolute
  bottom: 0.7em
  left: 0.5rem

._twitter:before
  content: ''
  background: url('../../../assets/icons/icon-twitter.svg') no-repeat center
  display: inline-block
  width: 26px
  height: 26px
  margin-right: 15px
  position: relative
  top: 5px

._fb:before
  content: ''
  background: url('../../../assets/icons/icon-fb.svg') no-repeat center
  display: inline-block
  width: 26px
  height: 26px
  margin-right: 15px
  position: relative
  top: 5px

._insta:before
  content: ''
  background: url('../../../assets/icons/icon-insta.svg') no-repeat center
  display: inline-block
  width: 26px
  height: 26px
  margin-right: 15px
  position: relative
  top: 5px

._youtube:before
  content: ''
  background: url('../../../assets/icons/icon-youtube.svg') no-repeat center
  display: inline-block
  width: 26px
  height: 26px
  margin-right: 15px
  position: relative
  top: 5px


//donate-page

.donation__bg
  //max-width: 1600px
  height: 385px
  margin: 0 auto
  background: url('../../../assets/img/panda_bg.jpg') no-repeat
  background-position: center center
  position: relative
  background-size: cover

.donate__intro-title,.donate__introtext
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 400 
  font-size: 36px 
  line-height: 130% 
  color: #FFFFFF 
  padding-top: 40px


.donate__introtext
  font-weight: 500 
  font-size: 16px 
  line-height: 140% 
  padding-top: 10px

._big
  color: #FE9013
  padding-top: 45px
  margin-bottom: 60px

.donate
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%)  
  opacity: 0.9  
  padding-bottom: 180px
  
%font-donate
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 400 
  font-size: 16px 
  line-height: 140% 
  color: #000000 

.diet-amount, .diet-progress, .payment-wrapper
  @extend %font-donate

.diet-amount
  padding-top: 19%
  


.pick-todonate
  background: rgba(253, 253, 255, 0.52)  
  backdrop-filter: blur(1.62625px)  
  border-radius: 20px  
  padding-bottom: 60px
  padding-top: 40px

.pick-container
  max-width: 976px
  margin: 0 auto

.number
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 500 
  font-size: 72px 
  line-height: 80% 
  text-align: center 
  text-transform: uppercase 
  color: #000000 
  padding-bottom: 11px
 

.diet-wrapper
  padding-top: 20px
  max-width: 545px
  margin: 0 auto
  display: flex
  flex-direction: row
  padding-bottom: 41px

.diet-wrapper > img
  display: inline-block
  max-height: 240px
  

.x-icon
  background: url('../../../assets/icons/x_icon.svg') no-repeat
  width: 24px
  background-position-x: 10px
  background-position-y: 127px
  margin-right: 66px
    

.pick-todonate__title
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 400 
  font-size: 48px 
  line-height: 120% 
  text-align: left
  color: #FE9013 
  padding-bottom: 0.5em
  padding-left: 340px
  
  

.pick-todonate__subtitle
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 400 
  font-size: 48px 
  line-height: 120% 
  text-align: center 
  color: #FE9013 
  padding-bottom: 0.5em
  font-size: 24px 
  color: #333B41 
  padding-bottom: 2.5rem
  text-align: left
 
.payment-wrapper
  width: 298px

.cash
   display: block
   width: 87%
   background-color: transparent
   border: 0.7px solid #929699
   border-radius: 2px 
   padding-top: 16px 
   padding-bottom: 16px 
   display: block
   margin: 0 auto
   margin-bottom: 25px

.cash:hover
   background-color: transparent
   border: 0.7px solid #FE9013
   border-radius: 2px 
   display: block
   border-color: #FE9013

.cash::placeholder
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 400 
  font-size: 16px 
  line-height: 140% 
  color: #929699 


.period
  display: inline-block
  margin-right: 5px
  

.pay-period
  padding-left: 42px
  padding-bottom: 28px


.pay-period  > label
  margin-right: 45px

.pay-period  > label:last-child
  margin-right: 0px
  
.share
  font-family: 'Roboto' 
  font-style: normal 
  font-weight: 400 
  font-size: 16px 
  line-height: 140% 
  color: #333B41 
  padding-left: 37.2%
  padding-top: 30px


input[type="radio"] 
  appearance: none
  font: inherit 
  color:#FE9013
  width: 1.15em 
  height: 1.15em 
  border: 0.15em solid #FE9013
  border-radius: 50% 
  transform: translateY(-0.004rem)


input[type="radio"]:checked
  background-color: #FE9013

 
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button
  -webkit-appearance: none
  
.progress__bar
  padding-top: 10px
  padding-bottom: 45px