@font-face 
  font-family: Georgia
  src: url("../../../assets/fonts/georgia.ttf")

@font-face 
  font-family: GeorgiaDecor
  src: url("../../../assets/fonts/georgia_bolditalic.ttf")

html
  scroll-behavior: smooth

$contentWidth: 1200px
$fontdefault: 15px

body
  font-size: $fontdefault
  font-family: 'Arial'
  font-style: normal
  font-weight: 400
  line-height: 160%
  display: flex
  flex-direction: column
  justify-content: space-between

 
._content
  max-width: $contentWidth
  margin: 0 auto



.intro
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20
  height: 908px
 
.header
  height: 60px
  padding-top: 60px
  margin-bottom: 60px

.header-wrap
  display: flex
  flex-direction: row
  align-content: center
  justify-content: space-between

.nav-list
  display: flex
  flex-direction: row
  align-content: center
  justify-content: space-between
  gap: 35px

.logo
  max-width: 20%

.logo-title 
  font-family: Georgia
  font-size: 32px/15px * 100%
  font-weight: 400
  line-height: 35.2px/32px * 100%
  letter-spacing: 0.06em
  color: rgba(241, 205, 179, 1)
  margin-bottom: 10px

.logo-subtitle
  font-family: Arial, sans-serif
  font-style: normal
  font-weight: 400
  font-size: 13px/$fontdefault*100%
  color: #FFFFFF
  line-height: 100%
  letter-spacing: 0.1em
  text-indent: 4px

.nav__item
  font-family: 'Arial'
  font-weight: 400
  line-height: 160%
  color: #CDCDCD

.nav__item a:hover, .nav__item a:active
  color: #FAFAFA
  text-decoration: solid underline 3px
  text-decoration-color: #F1CDB3

.not-only
  display: flex
  flex-direction: row
  justify-content: space-between

.not-only-text
  max-width: 460px /$contentWidth *100%
  color: #FFFFFF
  padding-top: 163px / $contentWidth *100% 
  
h1
  font-family: 'Georgia'
  font-style: normal
  font-weight: 400
  font-size: 44px / 15px * 100%
  line-height: 130%
  text-align: left
  padding-right: 150px/$contentWidth*100%

.not-only-text > *:not(:last-child)
   margin-bottom: 2.80 * $fontdefault

.not-only-text 
  p
    color:#CDCDCD
 
.not-only-img
  width: auto
  height: auto
  bottom: 0
  right: 0
  object-fit: contain

.button
  width: 207px
  height: 52px
  border-radius: 100px
  border: none
  font-family: 'Georgia'
  font-style: normal
  font-weight: 400
  font-size: 17px/$fontdefault * 100%
  line-height: 130%
  letter-spacing: 0.06em
  color: #292929

._pink
  background: #F1CDB3

._empty
  border: 2px solid #F1CDB3
  background: #FFFFFF

.footer 
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20

  //height: 350px

.about
 //height: 588px
 margin-top: 80px 
 display: flex
 flex-direction: row
 justify-content: center
 column-gap: 120px


h2
  font-family: 'Georgia'
  font-style: normal
  font-weight: 400
  font-size: 35px /$fontdefault*100%
  line-height: 130%
  color: #545454
 
.about__text
  max-width: 430px/ $contentWidth*100%
  text-align: left

.about__title
  padding-right: 370px/$contentWidth*100%

.about__text
  p
    color: #4C4C4C
    margin: 25px 0 

.friends
  height: 877px
  margin-top: 80px 

.help
  height: 611px
  margin-top: 80px 

.donation
  height: 462px
  margin-top: 80px 